# Telegram Bot
TELEGRAM_BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrsTUVwxyz
TELEGRAM_BOT_USERNAME=my_notifier_bot

# Database
DB_USERNAME=notifier
DB_PASSWORD=notifier
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notifier
